# Task
1. Create sample variables of each data structure we covered: list, tuple, string, dictionary, and set.  
2. Experiment with basic operations like indexing, slicing, adding/removing elements (where applicable), and membership tests.  
3. Try a simple mini-projectâ€”for instance, parse a sentence into words and use a set to get unique words, then count frequencies using a dict.

In [1]:
#List Operations
my_list=[8,7,9,"addition",99j,"multiplication",55.1,"subtraction","division"]
print(my_list)
my_tuple=(44,55,67,33.4)
print(my_tuple)
string="Hello, This is kanya"
print(string)
myset = {"apple", "banana", "cherry"}

[8, 7, 9, 'addition', 99j, 'multiplication', 55.1, 'subtraction', 'division']
(44, 55, 67, 33.4)
Hello, This is kanya

In [31]:
print("Slicing the elements from 2 to 6:",my_list[2:7])
print("Slicing the elements using negative indexing",my_list[:-3])
print("Reversing the elements in the list:",my_list[::-1])
my_list.append('Fraction')
my_list

Slicing the elements from 2 to 6: ['addition', 99j, 'multiplication', 55.1, 'subtraction']
Slicing the elements using negative indexing [8, 7, 'addition', 99j, 'multiplication', 55.1]
Reversing the elements in the list: ['Fraction', 'division', 'subtraction', 55.1, 'multiplication', 99j, 'addition', 7, 8]

[8,
 7,
 'addition',
 99j,
 'multiplication',
 55.1,
 'subtraction',
 'division',
 'Fraction',
 'Fraction']

In [32]:
my_list.remove('Fraction')
my_list

[8,
 7,
 'addition',
 99j,
 'multiplication',
 55.1,
 'subtraction',
 'division',
 'Fraction']

In [30]:
#removing an element from list using indexing
a= [10, 20, 30, 40, 50]
b= a.pop(2)  # Removes the element at index 1
print(a)
print(f"Removed element: {b}")

[10, 20, 40, 50]
Removed element: 30

In [ ]:
#finding the largest element in a list without max method
l=[55,88,91,30,63]
l.sort(reverse=True) #reversing a list in descending order
print(l[0])
print(l)

In [38]:
n=int(input("Enter the number"))
if(n%2==0):
    print("n is an even number")
else:
    print("n is an odd number")

Enter the number 64

n is an even number

In [39]:
a=int(input("Enter a"))
b=int(input("Enter b"))
if(a>b):
    print("A is Greater than B")
elif(a<b):
    print("A is Lesser than B")
else:
    print("A is Equal to B")

Enter a 5
Enter b 8

A is Lesser than B

In [44]:
num=int(input("Enter the number"))
if(num>0):
    if(num%2==0):
        print("Given Number is positive and even")
    else:
        print("Given Number is positive and odd")
elif(num%2>0):
    print("Given number is negative and odd")
else:
    print("Given number is negative and even")

Enter the number -11

Given number is negative and odd

In [46]:
a=5.9
type(a)

float

In [9]:
a = "HelloWorld!This is kanya"
b = a.split()
print(b)

['HelloWorld!This', 'is', 'kanya']

In [62]:
txt = "Hello\rWorld!" 
print(txt)

World!

In [3]:
myset = {"apple", "banana", "cherry"}
set2 = {1, 2, 3}

set3 = myset.union(set2)
print(set3)

{1, 'apple', 'banana', 2, 'cherry', 3}

In [6]:
myset = {"apple", "banana", "cherry"}
set2 = {1, 2, 3}

set3 = myset.union(set2)
print(set3)

{1, 'apple', 'banana', 2, 'cherry', 3}

In [5]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

In [13]:
e={}
d={"Bookname":"Manifest", "Authorname":"Rosa", "Publised year": 2012,"Soldcopies":1500,"Book":"Manifest"}
for i in d.values():
    if i in e:
        e[i]=e[i]+1
    else:
        e[i]=1
print(e)
print(d)

{'Manifest': 2, 'Rosa': 1, 2012: 1, 1500: 1}
{'Bookname': 'Manifest', 'Authorname': 'Rosa', 'Publised year': 2012, 'Soldcopies': 1500, 'Book': 'Manifest'}

In [8]:
string="Hello, This is kanya"
new=string[2:7]
print(new)

llo,

In [38]:
bookingtime=int(input("Enter the booking time"))
if (bookingtime<18): #railwayformat
    print("Entry Allowed")
else:
    print("Entry Not Allowed")

Enter the booking time 14

Entry Allowed

In [42]:
number=77.89
if number%1 !=0:
    print("Its is decimal number")
else:
    print("Its is not decimal number")

Its is decimal number

In [44]:
n=2
if(n==1):
    print("Monday")
elif(n==2):
    print("Tuesday")
elif(n==3):
    print("Wednesday")
elif(n==4):
    print("Thursday")
elif(n==5):
    print("Friday")
elif(n==6):
    print("Saturday")
elif(n==7):
    print("Sunday")
else:
    print("A Week has only 7 days")

Tuesday

In [8]:
balance=1500
pin=input("Enter PIN Number")
if(len(pin))==4 and pin.isdigit():
    print("You can proceed with withdrawal")
    amount=int(input("Enter the amount"))
    if(balance< amount):
        print("No suffient balance")
    else:
        print("Withdrawal successful")
else:
    print("Invalid Pin")

Enter PIN Number 8787

You can proceed with withdrawal

Enter the amount 800

Withdrawal successful

In [30]:
sentence="This is my example sentence for for a mini mini project"
words=sentence.split()
print(words)
print(type(words))

['This', 'is', 'my', 'example', 'sentence', 'for', 'for', 'a', 'mini', 'mini', 'project']
<class 'list'>

In [32]:
uniquewords=set(words)
print(words) #list allows duplicate
print(uniquewords) #set does not allow duplicate

['This', 'is', 'my', 'example', 'sentence', 'for', 'for', 'a', 'mini', 'mini', 'project']
{'is', 'This', 'example', 'my', 'sentence', 'for', 'project', 'a', 'mini'}

In [29]:
words=['This', 'is', 'my', 'example', 'sentence', 'for','for', 'a', 'mini', 'mini', 'project']
count={} #empty dictionary
for i in words:
    if i in count:
        count[i]=count[i]+1
    else:
        count[i]=1
print(count)

{'This': 1, 'is': 1, 'my': 1, 'example': 1, 'sentence': 1, 'for': 2, 'a': 1, 'mini': 2, 'project': 1}

In [68]:
for i in range(1,11):#printing numbers in range
    print(i)

1
2
3
4
5
6
7
8
9
10

In [69]:
for i in range(1,21): #even numbers only
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [70]:
for i in range(1,11): #square of the numbers
    print(f'{"Square of the number", i*i}')

('Square of the number', 1)
('Square of the number', 4)
('Square of the number', 9)
('Square of the number', 16)
('Square of the number', 25)
('Square of the number', 36)
('Square of the number', 49)
('Square of the number', 64)
('Square of the number', 81)
('Square of the number', 100)

In [65]:
names=['kanya','keerthana','geetha','swathi','preethi']
index=[]
for i in range(len(names)):
    print(names[i])

kanya
keerthana
geetha
swathi
preethi

In [71]:
names=['kanya','keerthana','geetha','swathi','preethi']
for i in names: #printing hello in front of names
    print(f'{"Hello"}',i)

Hello kanya
Hello keerthana
Hello geetha
Hello swathi
Hello preethi

In [72]:
for i in range(1,11):
    if(i%5!=0): #numbers not divisble by 5
        print(i)

1
2
3
4
6
7
8
9

In [73]:
for i in range(1,20):
    if(i%2==0):
        print(i,f'{"is Even"}')
    else:
        print(i,f'{"is Odd"}')

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd
16 is Even
17 is Odd
18 is Even
19 is Odd

In [74]:
n=[1,2,3,4,5,6,-7,-5,-4,-3]
for i in n:
    if(i>0):
        print(i)

1
2
3
4
5
6

In [75]:
for i in range(1,6):
    print(f'{"5x"}',i,"=",i*5)

5x 1 = 5
5x 2 = 10
5x 3 = 15
5x 4 = 20
5x 5 = 25

In [33]:
for i in range(1, 6): #[1,2,3,4,5]
    for j in range(1,6): #[1,2,3,4,5]
         print(i*j)
    print()

1
2
3
4
5

2
4
6
8
10

3
6
9
12
15

4
8
12
16
20

5
10
15
20
25

In [36]:
#factorial
fact = 1
num = 5
for i in range(1, num + 1):
    fact = fact* i
print("Factorial:", fact)

Factorial: 120